{% extends "template.html" %}
{% block content%}

<!-- Main -->
<section id="main" class="wrapper">
    <header>
        <h2>로그인이 필요한 페이지입니다.</h2>
        <p>You must be logged in to access to this page.</p>
    </header>
    <div class="inner">
    
        <center>
            <a href="/signup" class="button primary fit" style="width : auto">회원가입</a>
            <a href="/login" class="button fit" style="width : auto">로그인</a>
            <a href="/findidorpassword" class="button fit" style="width : auto">아이디 비밀번호 찾기</a>


        </center>
    </div>
</section>

{% endblock %}