{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 
                    35. 다음 출력 결과가 틀린 코드의 번호를 나타낸 보기를 고르시오.
                </h1>
            </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">

[1번 코드]
print(10/2)

[1번 출력]
5.0

[2번 코드]
a = 15.0
b = 7 
print(a/b)

[2번 출력]
2.1

[3번 코드]
a = “2018영재아카데미”
b = 2
print(a*b)

[3번 출력]
TypeError: unsupported operand type(s) for *: 'str' and 'int'
                        
                </code>
            </pre>
            <table>
                {% for i in range(0,8): %}
                    <tr>
                        {% for j in range(1,6): %}
                            <td> <a href="/A{{qnum}}/{{i*5+j}}" class="button"> {{bogi[i*5+j-1]}} </a></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </Question>
    </div>
</section>
{% endblock %}

