{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 
                    49. 다음은 Python에서 제공하는 다양한 출력 방식을 나타낸 것이다. 각 출력문 [ print() ]을 실행할 때 나오는 결과 값의 정수 부분만 나타낸 보기를 고르시오.
                    (단, Python은 기본적으로 소수점 6자리까지 나타낸다.)
                </h1>
            </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">


num1 = 100
num2 = 100.0
num3 = 30

print(num1)
print(“%f” %num1)
print("{}".format(float(num1)))
print("{0:.3f}".format(num1/num3))
print(int(num2))
                    

                </code>
            </pre>
            <table>
                {% for i in range(0,8): %}
                    <tr>
                        {% for j in range(1,6): %}
                            <td> <a href="/A{{qnum}}/{{i*5+j}}" class="button"> {{bogi[i*5+j-1]}} </a></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </Question>
    </div>
</section>
{% endblock %}

