{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">12. 다음 그림은 크기가 같은 정육면체들을 쌓은 후 앞과 오른쪽에서 바라본 모습이다. 이 입체도형이 완성될 때 사용되는 정육면체의 최소 개수와 최대 개수를 구하시오.</h1>
            </div>
                <img src="/static/image/questions/thinking/q12.png" />
            </div>
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                </Margin>
            </div>
            <div>
                <ul class="actions">
                    <li><input type="submit" value="제출하기" class="primary" /></li>
                    <li><a href="/leveltest/thinking" class="button fit">건너뛰기</a></li>
                </ul>
            </div>
        </form>
    </Question>

</section>
{% endblock %}
