{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
                    <div style="width : 50%">
                <h1 style="text-align : left">  13.10명이 타고 있던 버스에서 3명의 승객이 타고, 4명의 승객이 내렸다. 다음 정거장에서 10명의 승객이 타고 4명의 승객이 내리고,마지막 정거장에서 7명의 승객이 내리고 추가로 탑승한 사람은 없었다. 종점에 도착하여 버스 운전자가 모두 내려야 할 것을 타고 있던 승객들에게 안내했다. 종점에서 내린 승객은 총 몇 명일까?</h1>
            </div> 
         </div>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                        {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/thinking" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
    </Question>

</section>
{% endblock %}
