{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 14.제시된 그림을 보고 떠오르는 이미지나 물체의 이름을 각각 적어보시오.</h1>
            </div>
            <img src="/static/image/questions/thinking/q14-1.PNG" />
            <img src="/static/image/questions/thinking/q14-2.PNG" />
        </div>
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                </Margin>
            </div>
            <div>
                <ul class="actions">
                    <li><input type="submit" value="제출하기" class="primary" /></li>
                    <li><a href="/leveltest/thinking" class="button fit">건너뛰기</a></li>
                </ul>
            </div>
        </form>
    </Question>

</section>
{% endblock %}
