{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">
                15. 다음과 같은 그림에서 8 개의 크고 작은 정삼각형을 만들기 위해서 최소 몇개의 성냥이 더 필요할까?                </h1></div>
                       <img src="/static/image/questions/thinking/q15.PNG" />
     </div> <br/>
             <table>
            {% for i in range(0,8): %}
            <tr>
                {% for j in range(1,6): %}
    
                     <td> <a href="/A{{qnum}}/{{i*5+j}}" class="button"> {{bogi[i*5+j-1]}} </a></td>
                {% endfor %}
            </tr>
    
        {% endfor %}
        </table>

</Question>

</section>
{% endblock %}
