{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">  16.어두운 밤, 다리를 건너려는 네 사람이 있다. 네 사람이 다리를 건너는 데는 각각 3분, 5분, 10분, 20분이 걸리고, 손전등은 한 개 밖에 없어 두 사람이 같이 다리를 건너야 한다. 다리 한 쪽에 있는 네 사람이 모두 건너가려면 최소 몇 분이 필요할지 구하시오. </h1>
            </div>

        </div>
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                </Margin>
            </div>
            <div>
                <ul class="actions">
                    <li><input type="submit" value="제출하기" class="primary" /></li>
                    <li><a href="/leveltest/thinking" class="button fit">건너뛰기</a></li>
                </ul>
            </div>
        </form>
    </Question>

</section>
{% endblock %}
