{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">  17.다음 5명의 학생 중 단 2명만이 진실을 말하고 있다고 한다. <보기> 를 보고 진실을 말하는 사람이 누구인지 찾아보시오. </h1>
            </div>
            <img src="/static/image/questions/thinking/q17.PNG" />
        </div>
                 <table>
            {% for i in range(0,8): %}
            <tr>
                {% for j in range(1,6): %}
    
                     <td> <a href="/A{{qnum}}/{{i*5+j}}" class="button"> {{bogi[i*5+j-1]}} </a></td>
                {% endfor %}
            </tr>
    
        {% endfor %}
        </table>

    </Question>

</section>
{% endblock %}
