{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">
                        18.다음 제시된 표현에 해당된다고 생각하는 것을 각각 쓰시오.
                        (무겁고도 가벼운 것, 두꺼우면서도 얇은 것, 길면서도 짧은 것 )
                </h1>
            </div>
          
        </div>
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                </Margin>
            </div>
            <div>
                <ul class="actions">
                    <li><input type="submit" value="제출하기" class="primary" /></li>
                    <li><a href="/leveltest/thinking" class="button fit">건너뛰기</a></li>
                </ul>
            </div>
        </form>
    </Question>

</section>
{% endblock %}
