{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">  19.다음 <보기>를 읽고 들어온 순서대로 사람의 이름을 쓰시오.</h1>
            </div>
            <img src="/static/image/questions/thinking/q19.PNG" />
            
        </div>
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                </Margin>
            </div>
            <div>
                <ul class="actions">
                    <li><input type="submit" value="제출하기" class="primary" /></li>
                    <li><a href="/leveltest/thinking" class="button fit">건너뛰기</a></li>
                </ul>
            </div>
        </form>
    </Question>

</section>
{% endblock %}
