{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 24.미로를 직접 체험하며 미로 풀기를 하려고 한다. 다음과 같은 조건이 주어졌을 때 효율적으로 미로를 탈출할 수 있는 방법을 설계해보시오. (500자 이내)</h1>
            </div>
            <img src="/static/image/questions/thinking/q24.PNG" />
        </div>
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                </Margin>
            </div>
            <div>
                <ul class="actions">
                    <li><input type="submit" value="제출하기" class="primary" /></li>
                    <li><a href="/leveltest/thinking" class="button fit">건너뛰기</a></li>
                </ul>
            </div>
        </form>
    </Question>

</section>
{% endblock %}
