{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">  25. 어떤 기계는 주어진 모든 경로를 탐색하는 기능을 가지고 있다. 경로를 찾기 위해서 모든 노드를 확인한 뒤 최단 경로를 탐색하여 출발한다. 수평선 상에서 30의 위치에 있는 기계 A는 (5, 40, 27, 50, 38, 19, 21, 13)의 노드를 거친다고 할 때, 기계가 거치는 최단 경로의 길이를 구하시오.</h1>
            </div>
        

        </div>
        {% for i in range(0,8): %}
        <tr>
            {% for j in range(1,6): %}

            <td> <a href="/A{{qnum}}/{{i*8+j}}" class="button"> {{bogi[i*8+j-1]}} </a></td>
            {% endfor %}
        </tr>

        {% endfor %}

    </Question>

</section>
{% endblock %}
