{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">
                 27. 다음 그림은 A~I까지 9개의 노드가 연결되어 있는 그림이다. 이 그림에서 모든 노드가 연결되어있고, 8개의 간선만 남기려고 한다. 노드 간에 연결되어 있는 값들의 합 중 최소가 되는 값을 고르시오.              </h1></div>
                       <img src="/static/image/questions/thinking/q27.PNG" />
     </div> <br/>
             <table>
            {% for i in range(0,8): %}
            <tr>
                {% for j in range(1,6): %}
    
                     <td> <a href="/A{{qnum}}/{{i*5+j}}" class="button"> {{bogi[i*5+j-1]}} </a></td>
                {% endfor %}
            </tr>
    
        {% endfor %}
        </table>

</Question>

</section>
{% endblock %}
