{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">  30. Divide라는 함수는 다음과 같은 규칙으로 동작한다. Divide(92)을 호출하였을 때, Divide()함수는 총 몇 번 호출되는가</h1>
            </div>
            <img src="/static/image/questions/thinking/q30.PNG" />

        </div>
        {% for i in range(0,8): %}
        <tr>
            {% for j in range(1,6): %}

            <td> <a href="/A{{qnum}}/{{i*8+j}}" class="button"> {{bogi[i*8+j-1]}} </a></td>
            {% endfor %}
        </tr>

        {% endfor %}

    </Question>

</section>
{% endblock %}
