{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">  8.두 자리의 자연수 A, B (단 A > B)가 있는데, A와 B의 합을 반올림한 결과가 90이고, 두 수의 차를 반올림한 결과가 50일 때 B가 가질 수 있는 값 중 가장 큰 것은 무엇일까?</h1>
            </div>
            </div>
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                </Margin>
            </div>
            <div>
                <ul class="actions">
                    <li><input type="submit" value="제출하기" class="primary" /></li>
                    <li><a href="/leveltest/thinking" class="button fit">건너뛰기</a></li>
                </ul>
            </div>
        </form>
    </Question>

</section>
{% endblock %}
