{% extends "template.html" %}
{% block content%}

<!-- Main -->
<section id="main" class="wrapper">
    <header>
        <h2>2018 영재아카데미 레벨테스트</h2>
        <p>Thinking Section</p>
    </header>

    <table>
        <thead>
            <tr>
                <th scope="col">난이도</th>
                <th colspan="10" scope="col">문제번호</th>

            </tr>
        </thead>


        <!--   QuestionNumber는 문제 번호 0부터 100까지 증가-->
        <!--   QuestionCategory는 문제 카테고리 리스트로 사고력, 엔트리, 파이썬 씨 순서로 들어감-->
        <!--   PassorFail은 DB로부터 검사하여 문제를 풀었는지 아닌지 확인할 변수-->
        {% for i in range(0,5): %}
        <tr>

            <td>난이도 : {{i+1}}</td>
            <td> <a href="/leveltest/Q{{i*5+1}}" class="button"> {{i*5+1}}번 문제풀기 </a></td>
            <td>  {{PassorFail[i*5]}} </td>
            <td> <a href="/leveltest/Q{{i*5+2}}" class="button"> {{i*5+2}}번 문제풀기 </a></td>
            <td>  {{PassorFail[i*5+1]}} </td>
            <td> <a href="/leveltest/Q{{i*5+3}}" class="button"> {{i*5+3}}번 문제풀기 </a></td>
            <td>  {{PassorFail[i*5+2]}} </td>
            <td> <a href="/leveltest/Q{{i*5+4}}" class="button"> {{i*5+4}}번 문제풀기 </a></td>
            <td>  {{PassorFail[i*5+3]}} </td>
            <td> <a href="/leveltest/Q{{i*5+5}}" class="button"> {{i*5+5}}번 문제풀기 </a></td>
            <td>  {{PassorFail[i*5+4]}} </td>

        </tr>

        {% endfor %}
    </table>
    <br />
    <center> <a href=/leveltest class="button">뒤로 가기</a></center>
   
</section>

{% endblock %}

