{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 
                    59. 다음 중 변수의 사용법이 잘못 된 것을 고르시오. (단, 모든 변수는 선언되어있는 상태이다.)
                </h1>
            </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">

[보기]
① a = 100 + 1
② b = 100+(a=10)
③ c = 100 >> 2
④ d += 2
⑤ e << 2 = a
⑤ f =- 10

                </code>
            </pre>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/python" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>
    </div>
</section>
{% endblock %}

