{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 
                    59. 다음은 정렬되지 않은 자료를 오름차순으로 정렬하는 코드이다. 빈칸에 알맞은 변수 명을 작성하시오.
                </h1>
            </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">

unsorted = [1,8,4,3,7,5,2,10,9,6]
sorted = []
def swap(list, i, j):
    # i, j는 인덱스 값
    temp = list[i]
    list[i] = list[j]
    list[j] = temp
    return list
for i in range(len(unsorted)):
    # len()은 해당 자료형의 원소개수를
    # 반환해주는 내장 함수
    for j in range(i+1, len(unsorted)):
        if(unsorted[ 1 ] > unsorted[ 2 ]):
        sorted = swap(unsorted, i, j)
print(sorted)            
     
                </code>
            </pre>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/python" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>
    </div>
</section>
{% endblock %}

