{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 
                    63. Python에서는 문자열을 리스트 자료형으로 사용할 수 있다. for문의 마지막 매개변수는 증감 값을 나타내는데, 증감 값을 –1로 설정하면 뒤에서부터 출력이 가능하다. 
                    다음 코드를 활용하여 입력된 문자열을 뒤집어서 출력하는 프로그램을 완성하시오.
                </h1>
            </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">

[코드]
original = "HELLO_WORLD"
for i in range( ① , ② , -1):
    print(original[i], end="")

[출력]
DLROW_OLLEH
                </code>
            </pre>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/python" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>
    </div>
</section>
{% endblock %}

