{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 
                    67. 다음은 Python에서 함수를 활용하여 프로그램을 작성한 것이다. 함수에는 반환형과 비반환형이 존재하는데, 다음은 비반환형을 나타낸 코드이다.<br/>
                    주어진 코드를 참고하여 아래 함수를 반환형으로 수정하시오.
                </h1>
            </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">

def get_Max(list):
biggest = list[0]
for i in range(1,len(list)):
    if(list[i] > biggest):
        biggest = list[i]
print(biggest)

list = [1,2,5,9,-3.6,10,4]
get_Max(list)

                </code>
            </pre>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/python" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>
    </div>
</section>
{% endblock %}

