{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 
                    70. 다음은 break와 continue에 관한 문법을 설명하기 위한 코드이다. 제시문을 잘 읽고 아래 코드를 완성하시오. <br/><br/>
                    <제시문> <br/>
                    반복문을 제어하는 방법 중에 break문과 continue문이 있는데, 둘의 사용법은 다음 출력 결과를 보면 알 수 있다. <br/>
                </h1>
            </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">
                
[break문]
for i in range(10):
    if(i==5): # 특정 조건에 도달하게되어 break문이 실행되면
        break # 해당 회차를 끝으로 더이상 반복문이 실행되지 않는다.
    print(i)

[출력]
0
1
2
3
4

[continue문]
for i in range(10): 
    if(i==5):     # 특정 조건에 도달하여 continue문이 실행되면
        continue  # 해당 회차를 건너뛰고 반복문을 실행한다.
    print(i)

[출력]
0
1
2
3
4
6
7
8
9
                    
이 때, 다음 369 게임을 진행하는 Python 코드를 완성하려면 break문과 continue문, 어떤 것이 필요할지 작성하시오.                    

i=1
while(1):
    if('3' in str(number) or '6' in str(number) or '9' in str(number)):
        ①
    print(i)
    i+=1
                </code>
            </pre>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/python" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>
    </div>
</section>
{% endblock %}

