{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 
                    72. 다음 제시문을 읽고, 제시문에서 요구하는 작업을 Python으로 작성하시오.
                </h1>
            </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">

[제시문]
이번 태풍 “쁘라삐룬”의 영향으로 성균관대학교 600주년 기념관 지하 1층이 물에 잠기는 참사가 벌어졌다. 
이에 학생들은 수해 복구 자원봉사를 통해 물을 퍼내려고 하는데, 봉사활동의 조건은 다음과 같다.

ⓐ 물의 양은 랜덤하게 주어진다. (N)
ⓑ 물을 퍼내기 위해 구비된 버킷의 종류는 10L, 5L, 1L짜리 총 3개 밖에 없다.
ⓒ 버킷의 개수는 최소한으로 사용한다.
ⓓ 학생 한 사람당 하나의 버킷만 들 수 있다.
ⓔ 각 버킷에는 최대한 물이 가득 차게 한다.

이때, 필요한 사람의 수를 구하는 프로그램을 작성하시오. 

                </code>
            </pre>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/python" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>
    </div>
</section>
{% endblock %}

