{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 
                    74. 슬기는 Python에서 함수를 사용해 연산을 하는 과정에서 의도하지 않은 결과가 계속 나오고 있어 곤란을 겪고 있다. 자신만의 방법으로 슬기의 문제를 해결해줄 수 있도록 코드를 수정하시오.
                </h1>
            </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">

[코드]
# 기존 값에 10을 더하는 프로그램 만들기
def plus10(value):
   value = value+10
value = 10
plus10(value)
print(value)

[출력]
10

                </code>
            </pre>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/python" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>
    </div>
</section>
{% endblock %}

