{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>경상북도 SW리틀드래곤 선발 테스트</h2>
            <p>2018 Han's G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <h2 style="text-align:center">2 : 나는 다른 친구의 부족함을 도와주는 것을 좋아한다.</h2>
              
            </div>
            <br/>
            <table>
                
                
                       <tr > <a onmouseover="Changing(0,1)" id="Dict1"  class="button">친구의 부족함을 내가 도와주는 것은 아니라고 생각한다.  </a></tr>
                   <tr > <a onmouseover="Changing(0,2)" id="Dict2"  class="button"> 시간이 나면 도와 주기도 한다.   </a></tr>
		           <tr > <a onmouseover="Changing(0,3)" id="Dict3"  class="button">  나는 기분 좋게 도와줄 수 있다.</a></tr>
        </table>
        </div>
    </Question>
       

</section>
{% endblock %}