{% extends "template.html" %}
{% block content %}

	<!-- Main -->
	<section id="main" class="wrapper">
		<header>
			<h2>경상북도 SW 리틀 드래곤 선발 테스트란?</h2>
			
		</header>
        <div class="inner">
            <p>소프트웨어에 대한 관심이 높아지며 많은 학생들이 코딩을 배우고 있습니다. 그러나, 소프트웨어를 구현한다는 것은 단순히 코딩 기술을 배워서 익히는 것으로 되는 것이 아닙니다. <b style="color : black">경상북도 SW 리틀드레곤은 새로운 것을 배우는 것에 대한 두려움이 없으며, 다른 사람들과 함께 무엇인가를 이루어 내는 것을 즐길 수 있어야 합니다.</b>  또한 단순한 코딩 기술을 습득한 것이 아니라 사고력이 강화되어 문제 해결 방법을 찾는 것을 즐길 수 있어야 합니다. 뛰어난 사고력 위에 다양한 프로그래밍 언어를 적용하여 문제해결을 할 수 있는 창의적 문제해결 능력자가 진정한 경상북도 SW 리틀드레곤으로 선발됩니다. </p>
            <p>경상북도 SW 리틀드레곤 선발테스트는 크게 3가지의 영역으로 구성되어 있습니다. 모든 학생은 경상북도 SW 리틀드레곤 기본 자질에 대한 ‘적성검사’ 영역의 문제를 우선 풀어야 합니다. 그 다음 사고력 영역의 문제에 도전하십시오. 사고력 영역 문제를 푼 다음 '엔트리','PYTHON'과 'C언어' 영역의 프로그래밍 언어 문제 풀이에 도전하십시오.</p>



            <h3>적성검사</h3>
            <p>적성검사 문제는 모두 10개로 구성되어 있습니다.</p>
            <p>적성검사는 SW 개발자로의 기본 자질을 검사하는 영역으로 문제 영역의 세부 내용을 다음과 같습니다.</p>
            <ul>
                <li>팀 멤버 적응 영역</li>
                <li>문제 해결안 도출 의지 영역</li>
                <li>학습 태도 영역</li>
                <li>컴퓨터 호감도 영역</li>
            </ul>
            <p>SW개발은 혼자서 할 수 있는 분야가 아니므로 반드시 함께 창의적인 문제해결을 이룰 수 있는 자질이 있어야 가능한 작업입니다. 코딩에 뛰어난 실력을 가지고 있어도 협동심 또는 적성이 프로그래머로 적절하지 않은 경우는 선발 대상에서 제외됩니다.</p>
            <hr />


            <h3> 사고력 (THINKING)</h3>
            <p>사고력 문제는 모두 15개로 구성되어 있습니다.</p>
            <p>사고력 문제 영역의 세부 내용을 다음과 같습니다.</p>
            <ul>
                <li>공간 지각 능력</li>
                <li>수리적 계산 능력</li>
                <li>논리적 사고 능력</li>
                <li>추상적 사고 능력</li>
                <li>반복적 사고 능력</li>
                <li>문제 인식/해결 능력</li>
                <li>창의적 사고력</li>
            </ul>
            <hr />
            <h3> SW 프로그래밍 언어 역량 검사</h3>

            <h3>1) 블록 기반 프로그래밍 언어 (ENTRY/SCRATCH)</h3>
            <p>기본적인 프로그래밍 언어 활용에 대하여 전반적으로 이해할 수 있어야 합니다. 프로그램을 제어하기 위한 순차문, 조건문, 반복문, 함수 등의 활용 능력에 대하여 테스트합니다. 또한 프로그램 제어를 위한 다양한 연산자에 대한 이해 정도를 테스트 합니다. 언어를 배운 적이 없어도 본인이 스스로 문제를 풀면서 답을 구해갈 수 있으므로 언어를 모르는 학생도 도전할 수 있습니다!  </p>
            <hr />
            <h3>2) 텍스트 기반 프로그래밍 언어 (PYTHON)</h3>
            <p>파이선 언어를 사용하여 프로그램 제어 흐름을 이해할 수 있는지 테스트합니다. 블록기반 언어의 경우와 같이 순차문, 조건문, 반복문, 함수 등에 대한 활용 능력에 대하여 테스트합니다. 또한 입출력에 대한 처리 능력과 모듈 사용에 대한 능력 정도를 테스트합니다. 파이선에서 데이터 관리를 위한 기본적인 문제에 대하여도 테스트합니다. 파이선 언어를 배우지 않아도 코딩 내용을 이해하여 문제를 풀 수 있습니다.  </p>
            <hr />
            <h3>3) 텍스트 기반 프로그래밍 언어 (C Language)</h3>
            <p>C 언어의 문법을 적용하여 입출력 처리문을 이해하고 있는지 테스트합니다. 또한 데이터 관리에 관한 문제에 대하여 테스트하며, 문제 해결을 위한 논리적 사고력 적용 여부를 테스트합니다. 프로그램 작성을 위한 연산자를 이해하고 활용할 수 있는가 테스트하며, 순차문, 조건문, 반복문에 대한 이해 정로를 테스트합니다. C 언어를 모르는 학생도 도전할 수 있으며, 풀기 어려운 문제는 언제든 건너뛸 수 있습니다. </p>
            <hr />
            <p> 시험에 응시하는 모든 학생들이 자신의 능력을 충분히 보여주기 바랍니다! </p>
        </div>
	</section>
{% endblock %}