{% extends "template.html" %}
{% block content%}

<!-- Main -->
<section id="main" class="wrapper">
    <header>
        <h2>2018 영재아카데미 레벨테스트</h2>
        <p>2018 G&T Level Test</p>
    </header>
    <div class="inner">
        <Question>
			<div>
				<h1> {{name}}님, 반갑습니다.</h1>
				<h1> 레벨테스트는 총 5가지 영역으로 구성되어있습니다. </h1>
				<h1> 영역을 클릭하여 테스트를 시작하세요.</h1>
			</div>
			<center>
				<a href="/leveltest/thinking" class="button">Thinking</a>
				<a href="/leveltest/entry" class="button">Entry</a>
				<a href="/leveltest/python" class="button">Python</a>
				<a href="/leveltest/c" class="button">C Language</a>
			</center>
		</Question>
    </div>
</section>

{% endblock %}