{% extends "template.html" %}
{% block content%}

<!-- Main -->
<section id="main" class="wrapper">
    <header>
        <h2>2018 영재아카데미 레벨테스트</h2>
        <p>2018 G&T Level Test</p>
    </header>
    <div class="inner" style="padding:5px 0px 5px 0px">
        <Question>
        <h1> Intro를 제외한 각 영역당 25 문제가 준비되어 있습니다.</h1>
        <h1> 원하시는 영역을 선택해 주세요.</h1>
        <br/>
            <div>
                <center>
                    <a href="/leveltest/intro" class="button" style="width : 250px">Intro</a>
                    <a href="/leveltest/thinking" class="button" style="width : 250px">Thinking</a>
                    <a href="/leveltest/entry" class="button" style="width : 250px">Entry</a>
                    <a href="/leveltest/python" class="button" style="width : 250px">Python</a>
                    <a href="/leveltest/c" class="button" style="width : 250px">C Language</a>
                </center>
            </div>
		</Question>
    </div>
</section>

{% endblock %}
