{% extends "template.html" %}
{% block content%}

<!-- Main -->
<section id="main" class="wrapper">
    <header>
        <h2>로그인</h2>
        <p>login</p>
    </header>
    <div class="inner">
        <section>
            <form method="post" action="{{ url_for('form') }}">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <label for="demo-name">아이디</label>
                        <!--{{ form.csft_token }}-->
                        {{ form.username }}
                        {{ form.password }}
                        <input type="text" name="userid" id="userid" value="" />
                    </div>                    
                    <div class="col-6 col-12-xsmall">
                        <label for="demo-email">비밀번호</label>
                        <input type="password" name="userpw" id="userpw" value="" />
                    </div>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="로그인" class="primary" /></li>
                            <li><a href="#" class="button fit">아이디/비밀번호 복구</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>

    </div>
</section>

{% endblock %}