{% extends "template.html" %}
{% block content%}

<!-- Main -->
			<section id="main" class="wrapper">
				<header>
					<h2>회원가입</h2>
					<p>Sign Up</p>
				</header>
				<div class="inner">
					<form method="POST">
						{{ form.csrf_token }}
						<div class="row gtr-uniform">
							{% with messages = get_flashed_messages() %}
								{% if messages: %}
									{% for message in messages: %}
										{{ message }}
									{% endfor %}
								{% endif %}
							{% endwith %}
							<div class="col-6 col-12-xsmall">
								<label for="demo-name">이름</label>
								{{ form.name }}
							</div>
							<div class="col-6 col-12-xsmall">
								<label for="demo-name">전화번호</label>
								{{ form.phone }}
							</div>
							<div class="col-6 col-12-xsmall">
								<label for="demo-email">Email</label>
								{{ form.email }}
							</div>
							<div class="col-6 col-12-xsmall">
								<label for="demo-id">아이디</label>
								{{ form.userid }}
							</div>	
							<div class="col-6 col-12-xsmall">
								<label for="demo-pw">비밀번호</label>
								{{ form.userpw }}
							</div>
							<div class="col-6 col-12-xsmall">
								<label for="demo-pwconfirm">비밀번호 재확인</label>
								{{ form.pwconfirm }}
							</div>
							<div class="col-6 col-12-xsmall">
								<label for="demo-sch">학교</label>
								{{ form.school }}
								</div>
							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="회원가입" class="primary" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>
{% endblock %}