{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <h1> 26. 다음 코드를 실행했을 때 오브젝트가 몇 만큼 이동할까요?</h1>
            <img src="/static/image/questions/entry/q1.png" /></div>
            <form target="_blank">
                <div>
                    <Margin>
                    {{ form.answer(rows="15", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/entry" class="button fit">아이디/비밀번호 복구</a></li>
                    </ul>
                </div>
            </form>
        </Question>
    
</section>
{% endblock %}

