{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <h1> 27.다음과 같은 코드를 실행 시킨 후에 숫자 값에 84를 입력하면 출력 값은 무엇이 될까요?</h1>
            <img src="/static/image/questions/entry/q2.png" /></div>
            <form target="_blank">
                <div>
                    <Margin>
                    <textarea id="comment" class cols="25" rows="5" style="resize: none; outline: none;"></textarea>
                        </Margin>
                </div>
                <div>
    
                    <a href="/leveltest/entry" class="button">제출하기</a>
                    <a href="/leveltest/entry" class="button">건너뛰기</a>
    
                </div>
            </form>
        </Question>
    
</section>
{% endblock %}