{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 32. 다음과 같이 numbers라는 리스트에 1,2,5,4,8,7,3,6이 저장되어있습니다.
                다음에 있는 블록들을 활용하여 리스트 안에 저장되어 있는 숫자들 중 가장 큰 수를 찾아내서 max라는 변수에 저장하는 프로그램을 완성하세요.
                흰 칸 안에 있는 값들은 자유롭게 변경 가능합니다. 정답은 블록 번호를 순서대로 써주시고, 블록 두 개를 합칠 때는 ‘+’ 사용해서 나타내고,
                흰 칸에 들어갈 값을 나타내기 위해서는 블록 번호 옆에 대괄호([,])를 쓰고 값을 순서대로 써주세요.</h1></div>
                <img src="/static/image/questions/entry/q7-1.png" />
                <h2>ex) 9번 + 11번[6번, 5번[7번]] </h2>
                <img src="/static/image/questions/entry/q7-2.png" />
            </div>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                        {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/entry" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
</Question>

</section>
{% endblock %}
