{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <h1>34. 다음 코드를 실행 시켰을 때 최종적으로 변수 sum에는 어떤 값이 들어있을까요?  </h1>
            <img src="/static/image/questions/entry/q9.png" /></div>
            
            <form target="_blank">
                <div>
                    <Margin>
                    <textarea id="comment" class cols="25" rows="5" style="resize: none; outline: none;"></textarea>
                        </Margin>
                </div>
                <div>
    
                    <a href="/leveltest/entry" class="button">제출하기</a>
                    <a href="/leveltest/entry" class="button">건너뛰기</a>
    
                </div>
            </form>
        </Question>
    
</section>
{% endblock %}    