{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">36. 다음과 같은 코드를 실행했을 때 출력되는 결과 값을 적어주세요. </h1>
                </div>
                <img src="/static/image/questions/entry/q19.png" />
            </div>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                        {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/entry" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
</Question>

</section>
{% endblock %}
