{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <h1>39. 다음은 사용자에게 5개의 단어를 입력 받고, 찾고 싶은 단어를 입력하게 한 다음에, </h1>
            <h1>그 단어가 리스트 내에 몇 번 째에 들어있는지 출력해주는 프로그램입니다. 빈 칸 세 곳을 채워주세요</h1>
            <img src="/static/image/questions/entry/q14.png" /></div>
            
            <form target="_blank">
                <div>
                    <Margin>
                    <textarea id="comment" class cols="25" rows="5" style="resize: none; outline: none;"></textarea>
                        </Margin>
                </div>
                <div>
    
                    <a href="/leveltest/entry" class="button">제출하기</a>
                    <a href="/leveltest/entry" class="button">건너뛰기</a>
    
                </div>
            </form>
        </Question>
    
</section>
{% endblock %}    