{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">
                    40. 주어진 블록을 활용하여 다음과 같은 패턴을 만들기 위한 코드를 작성하세요. 단, 삼각형 한 변의 길이는 50이고 중심점으로부터 삼각형까지의 거리도 50입니다.
                    정답은 블록 번호를 순서대로 써주시고, 블록 두 개를 합칠 때는 ‘+’ 사용해서 나타내고, 흰 칸에 들어갈 값을 나타내기 위해서는 블록 번호 옆에 대괄호([,])를 쓰고 값을 순서대로 써주세요.
                </h1>
                </div>
                <img src="/static/image/questions/entry/q15.PNG" />
            </div>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                        {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/entry" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
</Question>

</section>
{% endblock %}
