{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 42. 다음은 입력된 숫자의 약수들을 모두 더하는 프로그램의 일부분입니다. 주어진 블록들을 활용하여 프로그램을 완성하세요. 정답은 블록 번호를 순서대로 써주시고, 블록 두 개를 합칠 때는 ‘+’ 사용해서 나타내고, 흰 칸에 들어갈 값을 나타내기 위해서는 블록 번호 옆에 대괄호([,])를 쓰고 값을 순서대로 써주세요. </h1>
                </div>
                <img src="/static/image/questions/entry/q17-1.png" />
            
            <h1>ex) 2번 + 9번[1,2]</h1>
            <img src="/static/image/questions/entry/q17-2.png" />
        </div>
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                </Margin>
            </div>
            <div>
                <ul class="actions">
                    <li><input type="submit" value="제출하기" class="primary" /></li>
                    <li><a href="/leveltest/entry" class="button fit">건너뛰기</a></li>
                </ul>
            </div>
        </form>
    </Question>

</section>
{% endblock %}
