{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
           <h1>43.아래의 코드에 num1에는 10을 num2에는 25를 입력하면 결과 값은 어떻게 나올까요?</h1>
            <img src="/static/image/questions/entry/q24.png" /></div>
         <br/><br/>       <table>
            {% for i in range(0,8): %}
            <tr>
                {% for j in range(1,6): %}
    
                     <td> <a href="/A{{qnum}}/{{i*5+j}}" class="button"> {{bogi[i*5+j-1]}} </a></td>
                {% endfor %}
            </tr>
    
        {% endfor %}
        </table>

    </Question>

</section>
{% endblock %}
