{% extends "template.html" %}
{% block content %}

<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <h1>49. 아래에 있는 프로그램은 어떤 일을 수행하는 프로그램일까요?</h1>
            <img src="/static/image/questions/entry/q24.png" /></div>
            
            <form target="_blank">
                <div>
                    <Margin>
                    <textarea id="comment" class cols="25" rows="5" style="resize: none; outline: none;"></textarea>
                        </Margin>
                </div>
                <div>
    
                    <a href="/leveltest/entry" class="button">제출하기</a>
                    <a href="/leveltest/entry" class="button">건너뛰기</a>
    
                </div>
            </form>
        </Question>
    
</section>
{% endblock %}    