{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
               <div style="width : 50%">
                <h1 style="text-align:left"> 31. 다음의 프로그램의 예상되는 출력 결과를 쓰시오. 
				<br></h1> </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">
#include <stdio.h>
int main(void){
	printf("x x ");
	printf("y\b");
	printf("z");
	return 0;
}
                </code>
            </pre>
            </div>
            {% for i in range(0,8): %}
            <tr>
                {% for j in range(1,6): %}
    
                     <td> <a href="/A{{qnum}}/{{i*8+j}}" class="button"> {{bogi[i*8+j-1]}} </a></td>
                {% endfor %}
            </tr>
    
        {% endfor %}

        </Question>

</section>
{% endblock %}
