{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">
                    78.c언어에서는 변수를 통해 특정한 값을 저장해 놓을 수 있으며 변수의 이름은 다양하게 정할 수 있다. <br>
                    아래의 방법을 통해 ‘a’라는 공간에 ‘5’라는 값을 저장해 놓을 수 있다.<br>
                    ( ‘=’ 는 오른쪽의 값을 왼쪽으로 대입한다는 의미이다.) <br>
                    1) int a = 5; <br>
                    2) int a;<br>
                    a = 5;<br>
                    아래의 프로그램의 결과는 다음과 같다.<br>
                </h1></div>
         
            <pre style="width : 50%;">
            <code style="text-align: left">
#include <stdio.h>
int main(void){
	int a = 5;
	printf(“%d\n”, a);
	printf(“%d”, a);
	return 0;
}
                </code>
            </pre>
            출력 :<br>
            5<br>
            5<br>
            <div style="width : 50%">
                    <h1 style="text-align:left"> 다음의 프로그램의 예상되는 결과를 쓰시오. <br></h1>
</div>
            <pre style="width : 50%;">
            <code style="text-align: left">
#include <stdio.h>
int main(void){
	int a = 5;
	int b = 10
	printf(“%d %d”, a, b);
	return 0;
}
              </code>
          </pre>
     </div> 
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                        {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/c" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
</Question>

</section>
{% endblock %}
