
{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
               <div style="width : 50%">
                <h1 style="text-align:left">85.c언어 프로그램에서는 동일한 문장을 반복해서 수행을 할 수 있는 반복문이 있다. <br>
  for ( 초기문 ; 조건문 ; 증감문 ){<br>
  	실행될 문장<br>
  }<br>
  1) 초기문은 반복문이 실행되기 전 한번만 실행된다. <br>
  2) 조건문이 참이라면 중괄호로 묶여있는 문장들이 순서대로 실행된다. 거짓이라면 반복문을 벗어나 다음 문장들을 순서대로 실행하게 되며 반복문은 종료된다. <br>
  3) 조건문이 참이고 중괄호로 묶인 문장들을 전부 실행했다면 증가 또는 감소 시키는 증감문이 실행된다.<br>
  4) 다시 2)으로 돌아간다.<br>
  다음 프로그램은 5번을 반복해서 “안녕하세요.” 를 출력하는 프로그램이다. 10번을 반복해서 출력하고 싶다면 조건문을 어떻게 바꾸어야 하는지 쓰시오.<br>
  ( ++ 연산자는 해당 변수의 값을 1 증가시킨다.)<br>
  ( -- 연산자는 해당 변수의 값을 1 감소시킨다.)<br>          </h1></div></div>
            <pre style ="width : 50%;">
                <code style="text-align: left">
#include <stdio.h>

int main(void){
	int i;
	for (i=0; i <= 4 ; i++)
		printf(“안녕하세요.\n”);
	return 0;
}
                </code>
            </pre>

            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/c" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>

</section>
{% endblock %}
