
{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
               <div style="width : 50%">
                <h1 style="text-align:left"> 87.다음 프로그램을 실행한 결과를 쓰시오.<br></h1></div></div>
            <pre style ="width : 50%;">
                <code style="text-align: left">
#include <stdio.h>
int main(void){
  int a = 10;
  int b = 3;
  a = a * a;
  b = a * b;
  printf(“%d”, a + b);
	return 0;
}

                </code>
            </pre>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/c" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>

</section>
{% endblock %}
