{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
                           <div style="width : 50%">
                <h1 style="text-align:left">49.다음 프로그램을 실행 했을 때, 출력 결과를 쓰시오. <br>
</h1></div>
            <pre style ="width : 50%;">
                <code style="text-align: left">
#include <stdio.h>
int main(void){
	int a[5] = { 1, 3, 5, 7, 9 };
	int b[5] = { 2, 4, 6, 8, 10};
	int i,j;
	int k = 0;
	for(i=0;i<5;i++){
		for(j=0;j<5;j++){
			if(a[i] < b[j])
				k = k + 1;
			else
				k = k - 1;
		}
	}
	printf("%d",k);
	return 0;
}
                </code>
            </pre></div>
                        {% for i in range(0,8): %}
            <tr>
                {% for j in range(1,6): %}
    
                     <td> <a href="/A{{qnum}}/{{i*8+j}}" class="button"> {{bogi[i*8+j-1]}} </a></td>
                {% endfor %}
            </tr>
    
        {% endfor %}
        </Question>

</section>
{% endblock %}
