{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
                      <div style="width : 50%">
                <h1 style="text-align:left">91.사용자가 세 자리 정수를 입력하면 백의 자리 숫자, 십의 자리 숫자, 일의 자리 숫자를 출력해주는 프로그램이 되기 위해 빈칸을 채우시오.<br></h1></div>
            <pre style ="width : 50%;">
                <code style="text-align: left">
#include <stdio.h>
int main(void){
	int x;
	scanf(“%d”, &x);
	int y = x / 100;
	printf(“백의 자리 : %d\n”, (1) );
  printf(“십의 자리 : %d\n” ,(2) );
  printf(“일의 자리 : %d\n” ,(3) );
	return 0;
}
                </code>
            </pre></div>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/c" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>

</section>
{% endblock %}
