
{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">92.아래의 프로그램은 사용자가 입력한 정수가 2의 배수라면 2를, 3의 배수라면 3을, 6의 배수라면 6을 출력해주는 프로그램이다.<br>
  빈칸에 알맞은 조건문을 작성하시오.<br> </h1></div>
            <pre style ="width : 50%;">
                <code style="text-align: left">
#include <stdio.h>

int main(void){
  int num;
	scanf("%d", &num);
	if (    1     ){
		if(      2     )
			printf(“6의 배수”);
		else
			printf(“2의 배수”);
	}else if (        3    ){
		if (      4       )
			printf(“6의 배수”);
		else
			printf(“3의 배수”);
	}else{
		  printf(“해당하지않습니다.”);
  }
	return 0;
}
                </code>
            </pre></div>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/c" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>

</section>
{% endblock %}
