
{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
               <div style="width : 50%">
                <h1 style="text-align:left">99.사용자가 수를 입력하면 각 자리 수에 3을 더한 숫자로 바꾸어서 출력하는 프로그램을 작성하시오.<br>
                 단, 사용자는 항상 자연수를 입력하며 각 자리에 3을 더한 값이 10을 넘어갈 경우 일의 자리 수만 생각한다. <br>
  (예를 들어 사용자가 52810을 입력하면 85143이 출력된다.)<br>
</h1></div></div>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                    {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/c" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
        </Question>

</section>
{% endblock %}
