{% extends "template.html" %}
{% block content %}

<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <h1> 다음 직육면체에서 나올 수 있는 검정 블럭의 최대 개수는?</h1>
            <img src="/static/images/Thinking_Q1.png" /></div>
            <form target="_blank">
                <div>
                    <Margin>
                    <textarea id="comment" class cols="25" rows="5" style="resize: none; outline: none;"></textarea>
                        </Margin>
                </div>
                <div>
    
                    <a href="/leveltest" class="button">제출하기</a>
                    <a href="/leveltest" class="button">건너뛰기</a>
    
                </div>
            </form>
        </Question>
    
</section>

{% endblock %}