{% extends "template.html" %}
{% block content %}

<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <h1> 다음 직육면체에서 나올 수 있는 검정 블럭의 최대 개수는?</h1>
            <img src="1번 그림.png" /></div>
            <form action="/https://www.w3schools.com/action_page.php" target="_blank">
                <div>
                    <Margin>
                    <textarea id="comment" class cols="25" rows="5" style="resize: none; outline: none;"></textarea>
                        </Margin>
                </div>
                <div>
    
                    <a href="sssss.html" class="button">제출</a>
                    <a href="sssss.html" class="button">포기</a>
    
                </div>
            </form>
        </Question>
    
</section>

{% endblock %}