{% extends "template.html" %}
{% block content%}

<!-- Main -->
<section id="main" class="wrapper">
    <header>
        <h2>로그인구현</h2>
        <p>Lorem justo in tellus aenean lacinia felis.</p>
    </header>
    <div class="inner">
<h3> 아이디 비밀번호 </h3>
        <hr />
        <h3>Sed magna ornare ultricies</h3>
        <p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus.
Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam.
Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
        <ul>
            <li>Faucibus orci lobortis ac adipiscing integer.</li>
            <li>Col accumsan arcu mi aliquet placerat.</li>
        </ul>
    </div>
</section>

{% endblock %}