<!DOCTYPE HTML>
<!--
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Generic - Prototype by Pixelarity</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
        <header id="header">
            <h1><a href="index.html">Han's SW Class</a></h1>
            <a href="#menu">Menu</a>
        </header>

        <!-- Menu -->
            <nav id="menu">
                <ul class="links">
                    <br><br><br><br>
                </ul>
                <ul class="actions stacked">
                    <li><a href="/signup" class="button primary fit">회원 가입</a></li>
                    <li><a href="/login" class="button fit">로그인</a></li>
                </ul>
            </nav>

    <!-- Main -->
        <section id="main" class="wrapper">
            <header>
                <h2>로그인구현</h2>
                <p>Lorem justo in tellus aenean lacinia felis.</p>
            </header>
            <div class="inner">
      <h3> 아이디 비밀번호 </h3>
                <hr />
                <h3>Sed magna ornare ultricies</h3>
                <p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus.
        Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam.
        Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
                <ul>
                    <li>Faucibus orci lobortis ac adipiscing integer.</li>
                    <li>Col accumsan arcu mi aliquet placerat.</li>
                </ul>
            </div>
        </section>

        <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <ul class="contact">
                        <li>성균관대학교</li>
                        <li>한옥영</li>
                        <li>(02) 123-4567</li>
                    </ul>
                    <p class="copyright">&copy; Han's SW Class. All rights reserved.</p>
                </div>
            </footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>