{% extends "template.html" %}
{% block content%}

<!-- Main -->
<section id="main" class="wrapper">
    <header>
        <h2>로그인구현</h2>
        <p>Lorem justo in tellus aenean lacinia felis.</p>
    </header>
    <div class="inner">
        <section>
            <h3>Form</h3>
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <label for="demo-name">Name</label>
                        <input type="text" name="demo-name" id="demo-name" value="" />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <label for="demo-email">Email</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="col-12">
                        <label for="demo-category">Category</label>
                        <select name="demo-category" id="demo-category">
                            <option value="">-</option>
                            <option value="1">Manufacturing</option>
                            <option value="1">Shipping</option>
                            <option value="1">Administration</option>
                            <option value="1">Human Resources</option>
                        </select>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                        <label for="demo-priority-low">Low Priority</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-normal" name="demo-priority">
                        <label for="demo-priority-normal">Normal Priority</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-high" name="demo-priority">
                        <label for="demo-priority-high">High Priority</label>
                    </div>
                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="demo-copy" name="demo-copy">
                        <label for="demo-copy">Email me a copy</label>
                    </div>
                
                    <div class="col-12">
                        <label for="demo-message">Message</label>
                        <textarea name="demo-message" id="demo-message" rows="6"></textarea>
                    </div>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>

    </div>
</section>

{% endblock %}