{% extends "template.html" %}
{% block content%}

<!-- Main -->
			<section id="main" class="wrapper">
				<header>
					<h2>회원가입</h2>
					<p>2018 영재아카데미를 수강하기 위해서는 로그인이 필요합니다.</p>
				</header>
				<div class="inner">
					<h3>Form</h3>
						<form method="post" action="#">
							<div class="row gtr-uniform">
								<div class="col-6 col-12-xsmall">
									<label for="demo-name">성함</label>
									<input type="text" name="username" id="username" value="" />
								</div>
								<div class="col-6 col-12-xsmall">
									<label for="demo-email">Email</label>
									<input type="email" name="demo-email" id="demo-email" value="" />
								</div>
								<div class="col-12">
									<label for="demo-category">Category</label>
									<select name="demo-category" id="demo-category">
										<option value="">-</option>
										<option value="1">Manufacturing</option>
										<option value="1">Shipping</option>
										<option value="1">Administration</option>
										<option value="1">Human Resources</option>
									</select>
				</div>
			</section>

{% endblock %}