{% extends "template.html" %}
{% block content%}

<!-- Main -->
			<section id="main" class="wrapper">
				<header>
					<h2>회원가입구현</h2>
					<p>Lorem justo in tellus aenean lacinia felis.</p>
				</header>
				<div class="inner">
					<span class="image left"><img src="images/pic08.jpg" alt="" /></span>
					<p>랄라</p>
					<hr />
					<h3>Sed magna ornare ultricies</h3>
					<p>룰루</p>
					<ul>
						<li>Faucibus orci lobortis ac adipiscing integer.</li>
						<li>Col accumsan arcu mi aliquet placerat.</li>
					</ul>
				</div>
			</section>

{% endblock %}