<!DOCTYPE HTML>
<html>
	<head>
		<title>G&T Academy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css"/>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<h1><a href="/">Han's SW Class</a></h1>
			<a href="#menu">Menu</a>
		</header>
		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<br><br><br><br>
			</ul>
			<ul class="actions stacked">
				{% if (!g.sessionFlag): %}
				<li><a href="/signup" class="button primary fit">회원가입</a></li>
				<li><a href="/login" class="button fit">로그인</a></li>
				{% endif %}
				<li><a href="/logout" class="button fit">로그아웃</a></li>
			</ul>
		</nav>

	    {% block content %} {% endblock %}

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="contact">
					<li>SungKyunKwan Rd 25-2</li>
					<li>Jongro Gu, Seoul</li>
				</ul>
				<ul class="links">
					<li><a href="#">Q&As</a></li>
					<li><a href="/sensitiveinfo">Privacy Terms</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<p class="copyright">&copy; 2018 G&T Academy All rights reserved. .</p>
			</div>
		</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>