{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
            <h1>4.다음과 같은 패턴을 만들기 위해서 빈칸에 들어갈 숫자를 써주세요. </h1>
            <img src="/static/image/questions/entry/q21.png" /></div>
         <br/><br/>       
 모든 답은 대소문자를 구별하지 않고 답을 고르시기 바랍니다.
 <table>
            {% for i in range(0,8): %}
            <tr>
                {% for j in range(1,6): %}
    
                    <td> <a onmouseover="Changing({{i}},{{j}})" id="Dict{{5*i+j}}" class="button"> {{bogi[i*5+j-1]}} </a></td>
                 {% endfor %}
            </tr>
    
        {% endfor %}
        </table>

    </Question>

</section>
{% endblock %}
