{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
            <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left"> 
                    8. 다음은 Python의 산술연산자인 %를 활용하여 임의의 숫자가 소수인지 판별하는 프로그램이다. 빈 칸에 들어갈 코드로 올바른 것을 보기에서 고르시오.
                    (단, 소수는 1과 자기 자신 이외에 약수가 없는 숫자를 의미한다.)
                </h1>
            </div>
            <pre style ="width : 50%;">
                <code style="text-align: left">

num = int(input("숫자를 입력하세요. : "))
flag = False # 소수가 아니다 
# flag는 해당 숫자가 소수인지 아닌지 기록하는 변수
for i in range( 2 ,num,1):
   if(num % i == 0):
      flag = [ 빈 칸 ]
      break
if(flag == False):
   print("%d는 소수입니다." %(num))
else:
   print("%d는 소수가 아닙니다." %(num))
     
                </code>
            </pre>
            <table>
                {% for i in range(0,8): %}
                    <tr>
                        {% for j in range(1,6): %}
                          <td> <a onmouseover="Changing({{i}},{{j}})" id="Dict{{5*i+j}}" class="button"> {{bogi[i*5+j-1]}} </a></td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </Question>
    </div>
</section>
{% endblock %}

