{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 경북 리틀드래곤 SW 영재 판별 테스트</h2>
            <p>2018 G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <h2 style="text-align:center">1 : 나는 다른 친구들과 함께 팀을 이루어 작업하는 것을 즐거워한다.</h2>
              
            </div>
            <br/>
            <table>
                
                    <tr> <a href="/A{{qnum}}/1" class="button"> 혼자 하는 것이 더 즐겁다.  </a></tr>
                    <tr> <a href="/A{{qnum}}/2" class="button"> 어느 친구냐에 따라 다르다.   </a></tr>
                    <tr> <a href="/A{{qnum}}/3" class="button"> 친구와 함께 하는 것은 항상 즐겁다.  </a></tr>
                
    
        </table>
        </div>
    </Question>
       

</section>
{% endblock %}