{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 영재아카데미 레벨테스트</h2>
            <p>2018 G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <h2 style="text-align:left">1. 다음 중 본인이 해당하는 보기의 번호를 입력하세요.</h2>
                <h1 style="text-align:left">나는 다른 학생들과 함께 팀을 이루어 작업하는 것을 즐거워한다.</h1>
                <h1 style="text-align:left">
            </div>
            {% for i in range(0,8): %}
            <tr>
                {% for j in range(1,6): %}
    
                     <td> <a href="/A{{qnum}}/{{i*8+j}}" class="button"> {{bogi[i*8+j-1]}} </a></td>
                {% endfor %}
            </tr>
    
        {% endfor %}
        </div>
    </Question>
       

</section>
{% endblock %}