{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 경북 리틀드래곤 SW 영재 판별 테스트</h2>
            <p>2018 Han's G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <h2 style="text-align:center">10: 숙제를 통하여 나 스스로가 발전된다고 생각한다.</h2>
              
            </div>
            <br/>
            <table>
                
                <tr > <a onmouseover="Changing(0,1)" id="Dict1"  class="button"> 숙제는 시간 낭비이다.  </a></tr>
                   <tr > <a onmouseover="Changing(0,2)" id="Dict2"  class="button">  혼나기 싫어서 숙제를 할 뿐이다 .  </a></tr>
		           <tr > <a onmouseover="Changing(0,3)" id="Dict3"  class="button"> 숙제가 나의 실력을 높여준다고 생각한다. </a></tr>
                    
    
        </table>
        </div>
    </Question>
       

</section>
{% endblock %}