{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 영재아카데미 레벨테스트</h2>
            <p>2018 G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <div style="background-color: rgb(248, 204, 204)">
                <h2 style="text-align:left">1. 다음 중 본인이 해당하는 보기의 번호를 입력하세요.</h2>
                <h1 style="text-align:left">나는 다른 학생들과 함께 팀을 이루어 작업하는 것을 즐거워한다.</h1>
                <h1 style="text-align:left">
            </div>
            <form method="POST">
                <div>
                    <Margin>
                        {% bogi[0] %}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                    </ul>
                </div>
            </form>
        </div>
    </Question>
       

</section>
{% endblock %}