{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 영재아카데미 레벨테스트</h2>
            <p>2018 G&T Level Test</p>
        </header>

        <div class="col-12">
                <label for="demo-category">질문 1 : 나는 다른 학생들과 함께 팀을 이루어 작업하는 것을 즐거워한다.</label>
                <select name="demo-category" id="demo-category" style="background-color : #d64c5f">
                    <option value="">-</option>
                    <option value="1">항상 즐거워 한다.</option>
                    <option value="2">어느 친구냐에 따라 다르다</option>
                    <option value="3">혼자 하는 것이 더 즐겁다.</option>
                </select>
            </div>

            
       

</section>
{% endblock %}