{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 영재아카데미 레벨테스트</h2>
            <p>2018 G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 50%">
                <h1 style="text-align:left">질문 1 : 나는 다른 학생들과 함께 팀을 이루어 작업하는 것을 즐거워한다.</h1></div>
            </div>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                        {{ form }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                        <li><a href="/leveltest/intro" class="button fit">건너뛰기</a></li>
                    </ul>
                </div>
            </form>
    </Question>
       

</section>
{% endblock %}