{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 영재아카데미 레벨테스트</h2>
            <p>2018 G&T Level Test</p>
        </header>

        <div class="col-12">
                <label for="demo-category">질문 2. 나는 문제 풀이 하는 것을 즐거워 한다.</label>
                <select name="demo-category" id="demo-category" style="background-color : #e96112">
                    <option value="">-</option>
                    <option value="1">그렇다.</option>
                    <option value="2">어느 친구냐에 따라 다르다</option>
                    <option value="3">혼자 하는 것이 더 즐겁다.</option>
                </select>
            </div>

            
       

</section>
{% endblock %}