{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 영재아카데미 레벨테스트</h2>
            <p>2018 G&T Level Test</p>
        </header>

        <div class="col-12">
                <label for="demo-category">질문 7. 나는 설명서나 안내서 등을 꼼꼼히 읽으며 따라 하는 것에 문제가 없다.</label>
                <select name="demo-category" id="demo-category" style="background-color : #9e02f8">
                    <option value="">-</option>
                    <option value="1">그냥 내 생각대로 해보는 것을 좋아한다.</option>
                    <option value="2">설명서를 따라 하는 것이 안심이 된다.</option>
                    <option value="3">알아서 해보다가 안되면 설명서를 읽으며 따라한다.</option>
                </select>
            </div>

            
       

</section>
{% endblock %}