{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 경북 리틀드래곤 SW 영재 판별 테스트</h2>
            <p>2018 Han's G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <h2 style="text-align:center">3 : 긴 수식을 풀어서 답을 얻을 때 행복감을 느낀다.</h2>
              
            </div>
            <br/>
            <table>
                
                    <tr> <a href="/A{{qnum}}/1" class="button"> 수식을 보는 순간 포기한다.  </a></tr>
                    <tr> <a href="/A{{qnum}}/2" class="button"> 풀어야 하니까 풀 뿐이다.   </a></tr>
                    <tr> <a href="/A{{qnum}}/3" class="button"> 답이 나왔을 때 정말 기쁘다.  </a></tr>
                
    
        </table>
        </div>
    </Question>
       

</section>
{% endblock %}