{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 경북 리틀드래곤 SW 영재 판별 테스트</h2>
            <p>2018 Han's G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <h2 style="text-align:center">4 : 나는 문제풀이 하는 것을 즐거워한다.</h2>
              
            </div>
            <br/>
            <table>
                
                    <tr> <a href="/A{{qnum}}/1" class="button"> 문제풀이를 좋아하지 않는다.   </a></tr>
                    <tr> <a href="/A{{qnum}}/2" class="button"> 문제에 따라 다르다.   </a></tr>
                    <tr> <a href="/A{{qnum}}/3" class="button"> 문제 푸는 것은 정말 즐겁다.  </a></tr>
                
    
        </table>
        </div>
    </Question>
       

</section>
{% endblock %}