{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 경북 리틀드래곤 SW 영재 판별 테스트</h2>
            <p>2018 Han's G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <h2 style="text-align:center">6 : 나는 새로운 것을 스스로 학습하거나 누군가에게 배우는 것을 좋아한다.</h2>
              
            </div>
            <br/>
            <table>
           
                
  		  <tr > <a onmouseover="Changing(0,1)" id="Dict1"  class="button"> 새로운 것을 배우는 것을 좋아하지 않는다. </a></tr>
                   <tr > <a onmouseover="Changing(0,2)" id="Dict2"  class="button"> 선생님 또는 다른 사람에게서 배우는 것을 좋아한다. </a></tr>
		           <tr > <a onmouseover="Changing(0,3)" id="Dict3"  class="button"> 혼자 공부하여 새로운 내용을 터득하는 것이 더 좋다.  </a></tr>
                    
        </table>
        </div>
    </Question>
       

</section>
{% endblock %}