{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 경북 리틀드래곤 SW 영재 판별 테스트</h2>
            <p>2018 Han's G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <h2 style="text-align:center">7 : 나는 컴퓨터 또는 전자기기를 사랑한다.</h2>
              
            </div>
            <br/>
            <table>
                
   
    <tr > <a onmouseover="Changing(0,1)" id="Dict1"  class="button"> 그렇게 썩 좋아하지는 않는다.  </a></tr>
                   <tr > <a onmouseover="Changing(0,2)" id="Dict2"  class="button"> 필요할 때만 좋아한다.  </a></tr>
		           <tr > <a onmouseover="Changing(0,3)" id="Dict3"  class="button"> 컴퓨터나 전자기기가 정말 좋다.  </a></tr>
                    
        </table>
        </div>
    </Question>
       

</section>
{% endblock %}