{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 영재아카데미 레벨테스트</h2>
            <p>2018 G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                    <div style="background-color: rgb(248, 204, 244)">
                <h2 style="text-align:left">7. 다음 중 본인이 해당하는 보기의 번호를 입력하세요.</h2>
                <h1 style="text-align:left">나는 설명서나 안내서 등을 꼼꼼히 읽으며 따라하는 것에 문제가 없다.</h1>
                <h1 style="text-align:left">
                    ①: 그냥 내 생각대로 해보는 것을 좋아한다. <br/>
                    ②: 설명서를 따라하는 것이 안심이 된다.<br/>
                    ③: 알아서 해보다가 안되면 설명서를 읽으며 따라한다.</h1></div>
            </div>
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    <Margin>
                        {{ form.answer(rows="8", cols="100") }}
                    </Margin>
                </div>
                <div>
                    <ul class="actions">
                        <li><input type="submit" value="제출하기" class="primary" /></li>
                    </ul>
                </div>
            </form>
        </div>
    </Question>
       

</section>
{% endblock %}