{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 경북 리틀드래곤 SW 영재 판별 테스트</h2>
            <p>2018 Han's G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <h2 style="text-align:center">8 : 나는 문제가 잘 안 풀리는 경우 해결 방법을 찾을 때까지 포기하지 않는다.</h2>
              
            </div>
            <br/>
            <table>
                
                    <tr> <a href="/A{{qnum}}/1" class="button"> 안 풀리는 문제는 그냥 포기한다.  </a></tr>
                    <tr> <a href="/A{{qnum}}/2" class="button"> 그래도 몇 번 시도는 해본다.   </a></tr>
                    <tr> <a href="/A{{qnum}}/3" class="button"> 풀릴 때까지 절대 포기하지 않는다.  </a></tr>
                
    
        </table>
        </div>
    </Question>
       

</section>
{% endblock %}