{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 경북 리틀드래곤 SW 영재 판별 테스트</h2>
            <p>2018 Han's G&T Level Test</p>
        </header>
    <Question>
        <div align="center">
            <div style="width : 80%">
                <h2 style="text-align:center">9 : 나는 설명서나 안내서 등을 꼼꼼히 읽으며 따라 하는 것에 문제가 없다.</h2>
              
            </div>
            <br/>
            <table>
                
             
    <tr > <a onmouseover="Changing(0,1)" id="Dict1"  class="button"> 그냥 내 생각대로 해보는 것을 좋아한다.</a></tr>
                   <tr > <a onmouseover="Changing(0,2)" id="Dict2"  class="button"> 설명서를 따라 하는 것이 안심이 된다.  </a></tr>
		           <tr > <a onmouseover="Changing(0,3)" id="Dict3"  class="button">알아서 해보다가 안되면 설명서를 읽으며 따라 한다.  </a></tr>
                    
        </table>
        </div>
    </Question>
       

</section>
{% endblock %}