{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 영재아카데미 레벨테스트</h2>
            <p>2018 G&T Level Test</p>
        </header>

        <div class="col-12">
                <label for="demo-category">질문 나는 컴퓨터 또는 전자기기를 사랑한다.</label>
                <select name="demo-category" id="demo-category" style="background-color : #07eeff">
                    <option value="">-</option>
                    <option value="1">컴퓨터나 전자기기가 정말 좋다.</option>
                    <option value="2">필요할 때만 좋아한다.</option>
                    <option value="3">그렇게 썩 좋아하지는 않는다.</option>
                </select>
            </div>

            
       

</section>
{% endblock %}