{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
        <header>
            <h2>2018 영재아카데미 레벨테스트</h2>
            <p>2018 G&T Level Test</p>
        </header>

        <div class="col-12">
                <label for="demo-category">질문 6. 나는 문제가 잘 안 풀리는 경우 해결 방법을 찾을 때까지 포기하지 않는다.</label>
                <select name="demo-category" id="demo-category" style="background-color : #2c0af0">
                    <option value="">-</option>
                    <option value="1">안 풀리는 문제는 그냥 포기한다.</option>
                    <option value="2">그래도 몇 번 시도는 해본다.</option>
                    <option value="3">풀릴 때까지 절대 포기하지 않는다.</option>
                </select>
            </div>

            
       

</section>
{% endblock %}