{% extends "template.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <Question>
        <div align="center">
           <h1>48.다음 프로그램을 실행했을 때, 최종적으로 a라는 변수에는 어떤 값이 저장되어 있을까요?</h1>
            <img src="/static/image/questions/entry/q28.png" /></div>
     <br/><br/>              <table>
            {% for i in range(0,8): %}
            <tr>
                {% for j in range(1,6): %}
    
                     <td> <a href="/A{{qnum}}/{{i*5+j}}" class="button"> {{bogi[i*5+j-1]}} </a></td>
                {% endfor %}
            </tr>
    
        {% endfor %}
        </table>

    </Question>

</section>
{% endblock %}
